## 02. 테이블 = DataFrame

### 이번 실습에서는 다음 내용들을 배웁니다.


- pandas의 기본 구조인 DataFrame을 이해하고, pandas에 대한 다양한 데이터 처리 기능에 대해 배웁니다.


- 파이썬에서 엑셀 데이터를 사용하는 방법에 대해 배웁니다.

In [1]:
# pandas 라이브러리를 불러옵니다. pd를 약칭으로 사용합니다.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

- DataFrame은 2차원 테이블이고, 테이블의 한 줄(행/열)을 Series라고 합니다.


- Series의 모임이 곧, DataFrame이 됩니다.

In [2]:
# s는 1, 3, 5, 6, 8을 원소로 가지는 pandas.Series

In [3]:
# 12x4 행렬에 1부터 48까지의 숫자를 원소를 가지고, index는 0부터 시작하고, coulmns은 순서대로 X1, X2, X3, X4로 하는 DataFrame 생성
df =

SyntaxError: invalid syntax (4108332407.py, line 2)

In [ ]:
# dataframe index

In [ ]:
# dataframe columns

In [ ]:
# dataframe values

In [ ]:
# 특정 column을 가져오기

In [ ]:
# X1 column에 2 더하기

In [ ]:
# dataframe의 맨 위 다섯줄을 보여주는 head()

In [ ]:
# 10줄

In [ ]:
# dataframe에 대한 전체적인 요약정보를 보여줍니다. index, columns, null/not-null/dtype/memory usage가 표시됩니다.

In [ ]:
# dataframe에 대한 전체적인 통계정보를 보여줍니다.

In [ ]:
# X2 column를 기준으로 내림차순 정렬

## 03. 원하는 데이터를 찾아오자

### Fancy Indexing ! (***)

- 데이터를 filtering <=> Search !

- 전체 데이터에서 원하는 일부의 데이터를 찾아오는 방법 !

In [ ]:
# pandas dataframe은 column 이름을 이용하여 기본적인 Indexing이 가능합니다.
# X1 column을 indexing

In [ ]:
# dataframe에서 slicing을 이용하면 row 단위로 잘려나옵니다.
# 앞에서 3줄을 slicing 합니다.

In [ ]:
# df에서 index value를 기준으로 indexing도 가능합니다. (여전히 row 단위)
# 두번째 row

In [ ]:
# df.loc는 특정값을 기준으로 indexing합니다. (key - value)

In [ ]:
# df.loc에 2차원 indexing도 가능합니다.

In [ ]:
## boolean mask == filter
# Q. df에서 X2 column이 20 이상인 모든 데이터(row)를 출력하세요.


# Q2. df에서 X2 column이 20 이상인 X4를 출력하세요.

In [ ]:
# Q3. X3 column에서 10 이상 30 이하인 데이터를 뽑아주세요.



# Q4. X3 column에서 10이하 30 이상인 데이터를 뽑아주세요.

In [ ]:
# iloc로 2차원 indexing을 하게되면, row 기준으로 index 3,4를 가져오고 column 기준으로 0, 1을 가져옵니다.
# Q. 3번째 row부터 8번째 row까지, 첫번째 column부터 3개

## 04. 엑셀의 피벗 테이블? 판다스에도 있다!

- pivot table이란 기존 테이블 구조를 특정 column을 기준으로 재구조화한 테이블을 말합니다.

- 특정 column을 기준으로 pivot하기 때문에, 어떤 column에 어떤 연산을 하느냐에 따라서 만들어지는 결과가 바뀝니다.

- 주로 어떤 column을 기준으로 데이터를 해석하고 싶을 때 사용합니다.

Data Source : https://www.kaggle.com/c/titanic/data

In [ ]:
# 타이타닉 데이터 불러오기
titanic =

In [ ]:
# 데이터 크기, 데이터 Column 정보, Null count(결측치 개수), column별 데이터 타입
titanic.info()

# 통계량
titanic.describe()

In [ ]:
# 성별을 기준으로 생존률 파악 --> Mean vs Sum

In [ ]:
# 사회 계급을 기준으로 생존률 파악