In [1]:
!pip install scikit-learn==1.0.2

Collecting scikit-learn==1.0.2
  Downloading scikit_learn-1.0.2-cp310-cp310-macosx_12_0_arm64.whl (6.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 6.4 MB/s eta 0:00:00m eta 0:00:010:010:01
Requirement already satisfied: numpy>=1.14.6 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.10/site-packages (from scikit-learn==1.0.2) (1.23.5)
Requirement already satisfied: scipy>=1.1.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.10/site-packages (from scikit-learn==1.0.2) (1.10.1)
Requirement already satisfied: joblib>=0.11 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.10/site-packages (from scikit-learn==1.0.2) (1.2.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scikit-learn
Successfully installed scikit-learn-1.0.2 threadpoolctl-3.1.0

In [2]:
import sklearn

In [3]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas as pd

In [11]:
iris = load_iris()

iris.data

iris.target
iris.feature_names
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['label'] = iris.target

df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [20]:
# 학습(Train) 데이터 셋 (모의고사) / 테스트 (Test) 데이터셋으로 분리
# test_size = 0.2 // 전체 데이터 세트에서 -> 얼마의 비율로 테스트 데이터 셋으로 분리할까?
# feature enginnering => 학습하기 좋게 데이터를 변경하는 과정


# 모의 X_train : 학습용 피처 데이터, (수능) X_test : 테스트용 타겟 데이터
# 모의 Y_train : 학습용 피처 데이터, (수능) Y_test : 테스트용 타겟 데이터        

X_train, X_test, y_train, y_test = train_test_split(iris.data, iris.target, test_size=0.2, random_state=16)

In [22]:
# 데이터 부닐가 끝났으니 --> 공부하러 가야죠. 공부방법 선택 : 알고리즘 선택

from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier()

# fit() => 모의고사 학습 => 학습을 하려면 문제가 필요
# 모의고사 문제를 줘야죠.

dt_clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [23]:
# 모의고사 다 풀었어. 자, 수능 드루와 수능보러 가즈아

pred = dt_clf.predict(X_test) # 수능 볼때는 => 문제만 주죠
pred

array([1, 0, 1, 2, 1, 0, 1, 0, 0, 1, 1, 2, 1, 0, 2, 1, 0, 0, 1, 1, 0, 0,
       1, 2, 1, 1, 1, 2, 2, 0])

In [24]:
# 채점할 때는 뭘 줘야하나요? 답지를 줘야죠

y_test

array([1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 2, 2, 0, 2, 1, 0, 0, 2, 1, 0, 0,
       2, 2, 1, 1, 1, 2, 2, 0])

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.8666666666666667

In [30]:
print(list(range(2, 23, 2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [31]:
z = [0, 0, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 8, 8]
len(set(z))

9