## Pandas

### 1. Pandas DataFrame and Operations

In [1]:
# pandas 라이브러리를 불러옵니다. pd를 약칭으로 사용합니다.
import pandas as pd
import numpy as np

- DataFrame은 2차원 테이블이고, 테이블의 한 줄(행/열)을 Series라고 합니다.


- Series의 모임이 곧, DataFrame이 됩니다.

In [8]:
# s는 1, 3, 5, np.nan, 6, 8을 원소로 가지는 pandas.Series -> index, value, dtype
L = [1, 3, 5, 6,  8]
arr = np.array(L)
s = pd.Series(L)

print("List: ", L)
print()
print("numpy: ", arr)
print()
print("pandas: ", s)
print()
print("L.index: ", L.index)
# print(arr.index)
print()
print("s.index: ", s.index)
print()
print("s.values: ", s.values) # numpy array
print()
print("s.dtype: ", s.dtype)

List:  [1, 3, 5, 6, 8]

numpy:  [1 3 5 6 8]

pandas:  0    1
1    3
2    5
3    6
4    8
dtype: int64

L.index:  <built-in method index of list object at 0x1684163c0>

s.index:  RangeIndex(start=0, stop=5, step=1)

s.values:  [1 3 5 6 8]

s.dtype:  int64

In [12]:
# 12x4 행렬에 1부터 48까지의 숫자를 원소를 가지고, index는 0부터 시작하고, coulmns은 순서대로 X1, X2, X3, X4로 하는 DataFrame 생성
df = pd.DataFrame(data=np.arange(1,49).reshape(12, 4),
                  index=np.arange(0, 12),
                  columns=["X1", "X2", "X3", "X4"])
df

    X1  X2  X3  X4
0    1   2   3   4
1    5   6   7   8
2    9  10  11  12
3   13  14  15  16
4   17  18  19  20
5   21  22  23  24
6   25  26  27  28
7   29  30  31  32
8   33  34  35  36
9   37  38  39  40
10  41  42  43  44
11  45  46  47  48

In [13]:
# 12x4 행렬에 1부터 48까지의 숫자를 원소를 가지고, index는 0부터 시작하고, coulmns은 순서대로 X1, X2, X3, X4로 하는 DataFrame 생성
df = pd.DataFrame(data=np.arange(1,49).reshape(12, 4),
                  index=pd.date_range("2023-05-01", "2023-05-12"),
                  columns=["X1", "X2", "X3", "X4"])
df

            X1  X2  X3  X4
2023-05-01   1   2   3   4
2023-05-02   5   6   7   8
2023-05-03   9  10  11  12
2023-05-04  13  14  15  16
2023-05-05  17  18  19  20
2023-05-06  21  22  23  24
2023-05-07  25  26  27  28
2023-05-08  29  30  31  32
2023-05-09  33  34  35  36
2023-05-10  37  38  39  40
2023-05-11  41  42  43  44
2023-05-12  45  46  47  48

In [14]:
# dataframe index
df.index

DatetimeIndex(['2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
               '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12'],
              dtype='datetime64[ns]', freq='D')

In [15]:
# dataframe columns
df.columns

Index(['X1', 'X2', 'X3', 'X4'], dtype='object')

In [16]:
# dataframe values
df.values

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24],
       [25, 26, 27, 28],
       [29, 30, 31, 32],
       [33, 34, 35, 36],
       [37, 38, 39, 40],
       [41, 42, 43, 44],
       [45, 46, 47, 48]])

In [19]:
# 특정 column을 가져오기
print(df["X1"])
print(df["X1"].size)

2023-05-01     1
2023-05-02     5
2023-05-03     9
2023-05-04    13
2023-05-05    17
2023-05-06    21
2023-05-07    25
2023-05-08    29
2023-05-09    33
2023-05-10    37
2023-05-11    41
2023-05-12    45
Freq: D, Name: X1, dtype: int64
12

In [21]:
# index 통해 value 가져오기

df['2023-05-05'] # 안됨 (column name이 들어가야함)

KeyError: '2023-05-05'

In [26]:
# X1 column에 2 더하기
print(df["X1"] + 2)
print()
print(df["X1"] * 2)
print()
print(df["X1"] ** 2)

2023-05-01     3
2023-05-02     7
2023-05-03    11
2023-05-04    15
2023-05-05    19
2023-05-06    23
2023-05-07    27
2023-05-08    31
2023-05-09    35
2023-05-10    39
2023-05-11    43
2023-05-12    47
Freq: D, Name: X1, dtype: int64

2023-05-01     2
2023-05-02    10
2023-05-03    18
2023-05-04    26
2023-05-05    34
2023-05-06    42
2023-05-07    50
2023-05-08    58
2023-05-09    66
2023-05-10    74
2023-05-11    82
2023-05-12    90
Freq: D, Name: X1, dtype: int64

2023-05-01       1
2023-05-02      25
2023-05-03      81
2023-05-04     169
2023-05-05     289
2023-05-06     441
2023-05-07     625
2023-05-08     841
2023-05-09    1089
2023-05-10    1369
2023-05-11    1681
2023-05-12    2025
Freq: D, Name: X1, dtype: int64

### 2.2. Dataframe 기초 method

In [27]:
# dataframe의 맨 위 다섯줄을 보여주는 head()
df.head()

            X1  X2  X3  X4
2023-05-01   1   2   3   4
2023-05-02   5   6   7   8
2023-05-03   9  10  11  12
2023-05-04  13  14  15  16
2023-05-05  17  18  19  20

In [28]:
# 10줄
df.head(10)

            X1  X2  X3  X4
2023-05-01   1   2   3   4
2023-05-02   5   6   7   8
2023-05-03   9  10  11  12
2023-05-04  13  14  15  16
2023-05-05  17  18  19  20
2023-05-06  21  22  23  24
2023-05-07  25  26  27  28
2023-05-08  29  30  31  32
2023-05-09  33  34  35  36
2023-05-10  37  38  39  40

In [32]:
# dataframe에 대한 전체적인 요약정보를 보여줍니다. index, columns, null/not-null/dtype/memory usage가 표시됩니다.
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2023-05-01 to 2023-05-12
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      12 non-null     int64
 1   X2      12 non-null     int64
 2   X3      12 non-null     int64
 3   X4      12 non-null     int64
dtypes: int64(4)
memory usage: 480.0 bytes

In [34]:
df["s"] = ["a" for i in range(12)]
df

            X1  X2  X3  X4  s
2023-05-01   1   2   3   4  a
2023-05-02   5   6   7   8  a
2023-05-03   9  10  11  12  a
2023-05-04  13  14  15  16  a
2023-05-05  17  18  19  20  a
2023-05-06  21  22  23  24  a
2023-05-07  25  26  27  28  a
2023-05-08  29  30  31  32  a
2023-05-09  33  34  35  36  a
2023-05-10  37  38  39  40  a
2023-05-11  41  42  43  44  a
2023-05-12  45  46  47  48  a

In [35]:
# column을 추가하면 추가 메모리를 사용하고, dtype이 object일 경우 대략적으로 얼마정도 더 쓸것이다를 보여줌
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2023-05-01 to 2023-05-12
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      12 non-null     int64
 1   X2      12 non-null     int64
 2   X3      12 non-null     int64
 3   X4      12 non-null     int64
 4   s       12 non-null     object
dtypes: int64(4), object(1)
memory usage: 576.0+ bytes

In [37]:
# memory usage를 제대로 보고싶다면 아래와 같이 하면 됨
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12 entries, 2023-05-01 to 2023-05-12
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      12 non-null     int64
 1   X2      12 non-null     int64
 2   X3      12 non-null     int64
 3   X4      12 non-null     int64
 4   s       12 non-null     object
dtypes: int64(4), object(1)
memory usage: 1.1 KB

In [38]:
int(df.loc["20230507","X1"]) ** (df.loc["20230507", "X2"])

-3394226340030730831

In [39]:
# dataframe에 대한 전체적인 통계정보를 보여줍니다.
df.describe()

              X1         X2         X3         X4
count  12.000000  12.000000  12.000000  12.000000
mean   23.000000  24.000000  25.000000  26.000000
std    14.422205  14.422205  14.422205  14.422205
min     1.000000   2.000000   3.000000   4.000000
25%    12.000000  13.000000  14.000000  15.000000
50%    23.000000  24.000000  25.000000  26.000000
75%    34.000000  35.000000  36.000000  37.000000
max    45.000000  46.000000  47.000000  48.000000

In [40]:
# X2 column를 기준으로 내림차순 정렬
print(df)
print()
print(df.sort_values(by="X2", ascending=False))
print()
print(df)
print()
print(df.sort_values(by="X2", ascending=True))

            X1  X2  X3  X4  s
2023-05-01   1   2   3   4  a
2023-05-02   5   6   7   8  a
2023-05-03   9  10  11  12  a
2023-05-04  13  14  15  16  a
2023-05-05  17  18  19  20  a
2023-05-06  21  22  23  24  a
2023-05-07  25  26  27  28  a
2023-05-08  29  30  31  32  a
2023-05-09  33  34  35  36  a
2023-05-10  37  38  39  40  a
2023-05-11  41  42  43  44  a
2023-05-12  45  46  47  48  a

            X1  X2  X3  X4  s
2023-05-12  45  46  47  48  a
2023-05-11  41  42  43  44  a
2023-05-10  37  38  39  40  a
2023-05-09  33  34  35  36  a
2023-05-08  29  30  31  32  a
2023-05-07  25  26  27  28  a
2023-05-06  21  22  23  24  a
2023-05-05  17  18  19  20  a
2023-05-04  13  14  15  16  a
2023-05-03   9  10  11  12  a
2023-05-02   5   6   7   8  a
2023-05-01   1   2   3   4  a

            X1  X2  X3  X4  s
2023-05-01   1   2   3   4  a
2023-05-02   5   6   7   8  a
2023-05-03   9  10  11  12  a
2023-05-04  13  14  15  16  a
2023-05-05  17  18  19  20  a
2023-05-06  21  22  23  24  a
2023-05-07  25  26  27  28  a
2023-05-08  29  30  31  32  a
2023-05-09  33  34  35  36  a
2023-05-10  37  38  39  40  a
2023-05-11  41  42  43  44  a
2023-05-12  45  46  47  48  a

            X1  X2  X3  X4  s
2023-05-01   1   2   3   4  a
2023-05-02   5   6   7   8  a
2023-05-03   9  10  11  12  a
2023-05-04  13  14  15  16  a
2023-05-05  17  18  19  20  a
2023-05-06  21  22  23  24  a
2023-05-07  25  26  27  28  a
2023-05-08  29  30  31  32  a
2023-05-09  33  34  35  36  a
2023-05-10  37  38  39  40  a
2023-05-11  41  42  43  44  a
2023-05-12  45  46  47  48  a

### 2.3. Fancy Indexing !

- 데이터를 filtering <=> Search !

- 전체 데이터에서 원하는 일부의 데이터를 찾아오는 방법 !

In [43]:
# pandas dataframe은 column 이름을 이용하여 기본적인 Indexing이 가능합니다.
# X1 column을 indexing
df["X1"]

2023-05-01     1
2023-05-02     5
2023-05-03     9
2023-05-04    13
2023-05-05    17
2023-05-06    21
2023-05-07    25
2023-05-08    29
2023-05-09    33
2023-05-10    37
2023-05-11    41
2023-05-12    45
Freq: D, Name: X1, dtype: int64

In [42]:
# dataframe에서 slicing을 이용하면 row 단위로 잘려나옵니다.
# 앞에서 3줄을 slicing 합니다.
df[:3]

            X1  X2  X3  X4  s
2023-05-01   1   2   3   4  a
2023-05-02   5   6   7   8  a
2023-05-03   9  10  11  12  a

In [49]:
# df에서 index value를 기준으로 indexing도 가능합니다. (여전히 row 단위)
print(df[1:5])
print()
print(df["20230503":"20230507"])

            X1  X2  X3  X4  s
2023-05-02   5   6   7   8  a
2023-05-03   9  10  11  12  a
2023-05-04  13  14  15  16  a
2023-05-05  17  18  19  20  a

            X1  X2  X3  X4  s
2023-05-03   9  10  11  12  a
2023-05-04  13  14  15  16  a
2023-05-05  17  18  19  20  a
2023-05-06  21  22  23  24  a
2023-05-07  25  26  27  28  a

In [50]:
# df.loc는 특정값을 기준으로 indexing합니다. (key - value)
# print(df["20230503"]) # 안됨
print(df.loc["20230503"])
print()
print(df.loc["2023-05-03"])
print()
print(df.loc["2023.05.03"])

X1     9
X2    10
X3    11
X4    12
s      a
Name: 2023-05-03 00:00:00, dtype: object

X1     9
X2    10
X3    11
X4    12
s      a
Name: 2023-05-03 00:00:00, dtype: object

X1     9
X2    10
X3    11
X4    12
s      a
Name: 2023-05-03 00:00:00, dtype: object

In [ ]:
# df.loc에 2차원 indexing도 가능합니다.

# df.loc["row에 대한 조건", "col에 대한 조건"]

In [63]:
print(df.loc["2023-05-01", "X4"])
print(df.loc["2023-05-03", "X1"])
# print(df.loc[0, 0]) # 이건 안됨
print(df.iloc[0,0]) # 이건 됨
print()
print(df.loc[["2023-05-01", "2023-05-03"], ["X1", "X4"]])
print()
print(df.loc["2023-05-01": "2023-05-08", "X1": "X3"])

4
9
1

            X1  X4
2023-05-01   1   4
2023-05-03   9  12

            X1  X2  X3
2023-05-01   1   2   3
2023-05-02   5   6   7
2023-05-03   9  10  11
2023-05-04  13  14  15
2023-05-05  17  18  19
2023-05-06  21  22  23
2023-05-07  25  26  27
2023-05-08  29  30  31

In [68]:
# df.loc를 사용해서 두번째 row 부터 다섯번째 row까지, 두번째 col부터 네번째 col까지
print(df.loc["20230502":"20230505", "X2":"X4"])
print()
print(df.loc[df.index[1:5],df.columns[1:4]])
print()
print(df.iloc[1:5, 1:4])

            X2  X3  X4
2023-05-02   6   7   8
2023-05-03  10  11  12
2023-05-04  14  15  16
2023-05-05  18  19  20

            X2  X3  X4
2023-05-02   6   7   8
2023-05-03  10  11  12
2023-05-04  14  15  16
2023-05-05  18  19  20

            X2  X3  X4
2023-05-02   6   7   8
2023-05-03  10  11  12
2023-05-04  14  15  16
2023-05-05  18  19  20

In [82]:
# dataframe에 조건식을 적용해주면 조건에 만족하는지 여부를 알려주는 "mask"가 생깁니다.
# Q. df에서 X3 column에 있는 원소들중에 3의 배수만 출력해주세요!
# df.loc[(df.values%3==0), "X3"]

for x in df.X3:
    if x % 3 == 0:
        print(x)
print() 
print(df.X3 % 3)
print() 
print(df.X3 % 3 == 0)
print()
 # row 크기
mask = df.X3 % 3 == 0 
print(df[mask])
print() 
print(df[mask]["X3"])
print()
print(df.loc[mask, "X3"])
# X1 ~ X200
print(df.loc[mask, "X3"])

3
15
27
39

2023-05-01    0
2023-05-02    1
2023-05-03    2
2023-05-04    0
2023-05-05    1
2023-05-06    2
2023-05-07    0
2023-05-08    1
2023-05-09    2
2023-05-10    0
2023-05-11    1
2023-05-12    2
Freq: D, Name: X3, dtype: int64

2023-05-01     True
2023-05-02    False
2023-05-03    False
2023-05-04     True
2023-05-05    False
2023-05-06    False
2023-05-07     True
2023-05-08    False
2023-05-09    False
2023-05-10     True
2023-05-11    False
2023-05-12    False
Freq: D, Name: X3, dtype: bool

            X1  X2  X3  X4  s
2023-05-01   1   2   3   4  a
2023-05-04  13  14  15  16  a
2023-05-07  25  26  27  28  a
2023-05-10  37  38  39  40  a

2023-05-01     3
2023-05-04    15
2023-05-07    27
2023-05-10    39
Freq: 3D, Name: X3, dtype: int64

2023-05-01     3
2023-05-04    15
2023-05-07    27
2023-05-10    39
Freq: 3D, Name: X3, dtype: int64

In [79]:
df.head().sort_values(by="X2", ascending=True).index[1].value

1682985600000000000

In [89]:
# Q2. 주어진 df에서 X4 column에 있는 원소 중에 8의 배수에 해당하는 모든 row를 출력해주세요.
print(df.loc[df.X4 % 8 == 0, "X4"])

2023-05-02     8
2023-05-04    16
2023-05-06    24
2023-05-08    32
2023-05-10    40
2023-05-12    48
Freq: 2D, Name: X4, dtype: int64

In [90]:
# 2차원 리스트 indexing과 같은 원리가 되었습니다.
# integer-location based indexing
print(df.iloc[0,3])
print(df.iloc[0:3, 1:3])
# print(df.ioloc[df.X3 % 3 ==0, 2]) ## boolean mask를 이용한 indexing은 loc만 가능!

4
            X2  X3
2023-05-01   2   3
2023-05-02   6   7
2023-05-03  10  11

AttributeError: 'DataFrame' object has no attribute 'ioloc'

In [ ]:
# iloc로 2차원 indexing을 하게되면, row 기준으로 index 3,4를 가져오고 column 기준으로 0, 1을 가져옵니다.

In [ ]:
# Q. 2차원 indexing에 뒤에가 : 면 어떤 의미일까요?

## 2.3. 여러 DataFrame 합치기

In [92]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [93]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [94]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [95]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [98]:
# SQL과 같이 join operation을 사용할 수 있다.
pd.merge(df1, df2, how="inner",on="A")

Empty DataFrame
Columns: [A, B_x, C_x, D_x, B_y, C_y, D_y]
Index: []

In [ ]:
# left join

In [ ]:
# 그냥 합치기 (concatenation)

## 2.4 DataFrame으로 데이터 불러오기


Source : https://www.kaggle.com/c/titanic/data

In [ ]:
# train.csv 파일 불러오기
titanic = pd.read_csv("./train.csv",
                      sep=, # 불러올 데이터의 separator를 지정. csv = ',' , 가끔 데이터를 잘못만든 사람들 때문에 '\t', '|' 등으로 지정되어 있는 경우가 있음
                      header=, # 몇번째 row를 column의 정보가 담겨져 있는 csv를 쓸것인가? 
                      usecols=, # 불러올 column을 명시
                      nrows=, # 불러올 row개수를 명시, 무조건 앞에서부터
                      parse_dates=, # 특정 column을 datetime으로 변환해서 가져오는 옵션
                      chunksize=, # 주어진 chunksize만큼 iterator 생성.
                      encoding= # "utf-8 or cp949", # csv파일의 text의 인코딩 지정 # 거의 한글에서만 문제 발생
                     )

## 2.5. Pivot Table을 이용하여 데이터 살펴보기

- pivot table이란 기존 테이블 구조를 특정 column을 기준으로 재구조화한 테이블을 말합니다.

- 특정 column을 기준으로 pivot하기 때문에, 어떤 column에 어떤 연산을 하느냐에 따라서 만들어지는 결과가 바뀝니다.

- 주로 어떤 column을 기준으로 데이터를 해석하고 싶을 때 사용합니다.

In [ ]:
# 성별을 기준으로 생존률 파악 --> Mean vs Sum

In [ ]:
# 사회 계급을 기준으로 생존률 파악